<h2>List of my most hated League champions</h2>
<ul>
  <li class="mid">Yasuo</li>
  <li class="mid">Zoe</li>
  <li class="top">Mundo</li>
  <li class="top">Darius</li>
  <li class="mid">Fizz</li>
</ul>

<script type="module" src="./scripts/alert.js"></script>
<button id="record">but</button>

<a>{{name}}</a>